## Problem Set 2

## Question 1
#### Consider the following Python module:
##### a = 0
##### def b():
##### global a
##### a = c(a)
##### def c(a):
##### return a + 2

#### After importing the module into the interpreter, you execute:
##### >>> b()
##### >>> b()
##### >>> b()
##### >>> a
##### ?
#### What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [1]:
#In the given question the properties of module is given
#Modules in python are nothing but .py extended files
#In the given question 'a' is a global variable
#the scope of a global variable is throughout the program
#so all changes made in the program will be reflected to 'a'
#At first 'a' is initialized  to 0
# when the fuction b() is called, there is a statement i.e. a =c(a)
#which means that c() is a funtion which carries 'a' as a parameter and 
#any value returned from the funtion c() will be set to 'a'
#in funtion c() a return operation is done, which says 'return a+2'
#funtion c() will return value 'a' after it is incremented by 2
a = 0

def b():
    # overwrites the value of a 
    global a
    # calls function c and sets the returned value in variable a
    a = c(a)  

def c(a):
    # add 2 to the value of a
    return a + 2

In [2]:
#execute the operation given in question
#here funtion b() is called 3 times
#each time b() is called, funtion c() returns 'a+2'
#as initially a is set to 0, for the first call a=2
#then with another 3 call of funtion b(), a= 6 (0+2=2, 2+2=4, 4+2=6)
#thus the result will be 6
b()
b()
b() 
a

6

## Question 2

#### Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:
<blockquote>>>> fileLength('midterm.py')</blockquote>
<blockquote>284</blockquote>
<blockquote>>>> fileLength('idterm.py')</blockquote>
<blockquote>Traceback (most recent call last):</blockquote>
<blockquote>File "<pyshell#34>", line 1, in <module> </blockquote>
<blockquote> fileLength('idterm.py')</blockquote>
<blockquote>File "/Users/me/midterm.py", line 3, in fileLength</blockquote>
<blockquote> infile = open(filename)</blockquote>
<blockquote>FileNotFoundError: [Errno 2] No such file or directory:</blockquote>
<blockquote>'idterm.py'</blockquote>

#### As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:
<code>>>> fileLength('midterm.py')</code>
<code>358</code>
<code>>>> fileLength('idterm.py')</code>
<code>File idterm.py not found.</code>

In [3]:
#include exception handling to handle unexpected error flawlessly
def fileLength(filename):
    try:
        file = open(filename,'r')
        s = file.read()
        print(len(s))
    except:
        print("File "+ filename+" not found")

In [4]:
#midterm.py is a file that is aviable is the workspace, so the file can be read
>>> fileLength('midterm.py')

5210

In [5]:
#idterm.py is not available in the workspace, so the file cannot be read
>>> fileLength('idterm.py')

File idterm.py not found

## Question 3
#### Write a class named Marsupial that can be used as shown below:
##### >>> m = Marsupial()
##### >>> m.put_in_pouch('doll')
##### >>> m.put_in_pouch('firetruck')
##### >>> m.put_in_pouch('kitten')
##### >>> m.pouch_contents()
##### ['doll', 'firetruck', 'kitten']

In [6]:
#class Marsupial defines funtions and variables to store and display words
class Marsupial:
    def __init__(self):
        self.s = []
    
    #pouch funtion store the words entered
    def put_in_pouch(self, word):
        self.s.append(word)
        
    #method to displat contant in the pouch
    def pouch_contents(self):
        print(self.s)

In [7]:
#create an object, then insert words into a list and display the list
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()

['doll', 'firetruck', 'kitten']

#### Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
##### a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
##### b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
##### c. overloads the __str__ operator so it behaves as shown below.

In [8]:
#subclass Kangaroo carries x and y coordinates as parameter
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
    
    #method jump is to increment the coordinates by dx and dy
    def jump(self,dx,dy):
        self.x = self.x + dx
        self.y = self.y + dy
    #to display
    def __str__(self):
        return "I am a Kangaroo located at coordinates (%s, %s)" % (self.x, self.y)

In [9]:
#create an object of the class
>>> k = Kangaroo(0,0)
#display object
>>> print(k)

I am a Kangaroo located at coordinates (0, 0)

In [10]:
#function call to insert words
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
#function call to display words
>>> k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [11]:
#function call to increment coordinates
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
#print object
>>> print(k)

I am a Kangaroo located at coordinates (3, 0)

## Question 4
#### Implement a new GUI class App that combines user-defined tkinter widget classes Calculator and Mortgage displayed below: (This question can be done using a .py file)
### The .py file and the screenshot of the output will be added seperatly

## Question 5
#### Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
##### x = { 洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐 ; 3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬d
#### Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.
##### >>> collatz(1)
##### 1
##### >>> collatz(10)
##### 10
##### 5
##### 16
##### 8
##### 4
##### 2
##### 1

In [12]:
#collatz is a function the is used to do 2 operation based on, if x if even or odd
def collatz(x):
    print(int(x))
    if x < 0:
        print('Oops!!!! Enter postive integer greater than 0')
    elif x == 1:
        return
    elif x%2 != 0:
        x = (3*x)+1
        collatz(x)
    elif x%2 == 0:
        x/=2
        collatz(x)

In [13]:
#operations metioned in the question
>>> collatz(1)

1

In [14]:
#operations metioned in the question
>>> collatz(10)

10
5
16
8
4
2
1

In [15]:
#this will show an error as it is a negative number
>>> collatz(-1)

-1
Oops!!!! Enter postive integer greater than 0

## Question 6
#### Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.
##### >>> binary(0)
##### 0
##### >>> binary(1)
##### 1
##### >>> binary(3)
##### 11
##### >>> binary(9)
##### 1001

In [16]:
#recursive fuction to calculate binary value of a decimal number
def binary(number): 
    if number<0: 
        print("Opps!!! Enter postive number")
    elif number == 0: 
        return 0
    else: 
        return (number % 2 + 10 * binary(int(number // 2)))

In [17]:
#operations metioned in the question
>>> binary(0)

0

In [18]:
#operations metioned in the question
>>> binary(1)

1

In [19]:
#operations metioned in the question
>>> binary(3)

11

In [20]:
#operations metioned in the question
>>> binary(9)

1001

## Question 7
#### Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should  print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
##### >>> infile = open('w3c.html')
##### >>> content = infile.read()
##### >>> infile.close()
##### >>> hp = HeadingParser()
##### >>> hp.feed(content)
##### W3C Mission
##### Principles

In [21]:
#opening a html file and reading the content
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()

In [23]:
#HeadingParser is a subclass of standard library HTMLParser
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def handle_starttag(self, tag, attrs):
        self.tag = tag
        self.attrs =attrs
        
    #function to get contant of header tag and to indent the content
    def handle_data(self, data):
        if self.tag == 'h1':
            print(data)
        elif self.tag == 'h2':
            print(" "+data)
        elif self.tag == 'h3':
            print("  "+data)
        elif self.tag == 'h4':
            print("   "+data)
        elif self.tag == 'h5':
            print("    "+data)
        elif self.tag == 'h6':
            print("     "+data)

hp = HeadingParser()

In [24]:
>>> hp.feed(content)

W3C Mission


 Principles


  Heading 3


   Heading 4


    Heading 5


     Heading 6

## Question 8
#### Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.
##### >>> webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
#### http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 #### -> http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 #### -> http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 #### -> http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 #### -> http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [60]:
from html.parser import HTMLParser
import requests

class Collector(HTMLParser):
    'HTML doc parser that collects hyperlink URLs in a list'
 
    def __init__(self):
        'Initializes parser and a list'
        HTMLParser.__init__(self)
        self.urls = []
        self.indent = 0
        

    def handle_starttag(self, tag, attrs):
        'Collects hyperlinks URLs'
        if(tag=='a'):
            for attr in attrs:
                # searches for href attribute
                if(attr[0]=='href'):
                    # adds the hyperlink to end of the list
                    self.urls.append(attr[1])

    def getUrls(self):
        'Returns hyperlinks URLs list'
        return self.urls


def webdir(url,depth,indent):
    'visits every webpage from the starting url in depth and prints the web pages'
    # check if depth is a positive integer
    if(depth<0): 
        return
    for i in range(0,10):
        # add indent to url based
        print('{}{}'.format(indent*'\t',url))
        
        #create an object of class Collector
        collector = Collector()
        html = requests.get(url)
        collector.feed(html.text)
        urls = collector.getUrls()
    
        # print links
        try:
            for link in urls:
                # check for http urls
                if(not 'http' in link):
                    link = url+link
                #recursive funtion call
                webdir(link,depth-1,indent+1)
        except:
            pass
#this will display all the hyperlink, so the kernal has to be interrupted using keyboard commands
webdir("https://www.wikipedia.org/",2,0)

https://www.wikipedia.org/
	https://www.wikipedia.org///en.wikipedia.org/
		https://www.wikimedia.org
		https://www.wikimedia.org
	https://www.wikipedia.org///en.wikipedia.org/
https://www.wikipedia.org/

KeyboardInterrupt:

## Question 9
#### Write SQL queries on the below database table that return:

In [40]:
#load sql
%load_ext sql

In [41]:
#connect sql
%sql sqlite://

#### create table

In [43]:
%%sql
CREATE TABLE record
(
    City       varchar(20),
    Country    varchar(20),
    Season   varchar(20),
    Temperature float,
    Rainfall     float
);

 * sqlite://
Done.

[]

#### insert value into table

In [45]:
%%sql
INSERT INTO record VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9);
INSERT INTO record VALUES('Mumbai', 'India', 'Spring', 28.4, 16.2);
INSERT INTO record VALUES('Mumbai', 'India', 'Summer', 27.9, 1549.4);
INSERT INTO record VALUES('Mumbai', 'India', 'Fall', 27.6, 346.0);
INSERT INTO record VALUES('London', 'United Kingdom', 'Winter', 4.2, 207.7);
INSERT INTO record VALUES('London', 'United Kingdom', 'Spring', 8.3, 169.6);
INSERT INTO record VALUES('London', 'United Kingdom', 'Summer', 15.7, 157.0);
INSERT INTO record VALUES('London', 'United Kingdom', 'Fall', 10.4, 218.5);
INSERT INTO record VALUES('Cairo', 'Egypt', 'Winter', 13.6, 16.5);
INSERT INTO record VALUES('Cairo', 'Egypt', 'Spring', 20.7, 6.5);
INSERT INTO record VALUES('Cairo', 'Egypt', 'Summer', 27.7, 0.1);
INSERT INTO record VALUES('Cairo', 'Egypt', 'Fall', 22.2, 4.5) ;

 * sqlite://
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

#### a) All the temperature data.

In [46]:
%%sql
select * from record;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

#### b) All the cities, but without repetition.

In [47]:
%%sql
SELECT DISTINCT City FROM record;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

#### c) All the records for India

In [48]:
%%sql
select * from record where Country='India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

#### d) All the Fall records.

In [49]:
%%sql
select * from record where Season='Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

#### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters

In [50]:
%%sql
select City, Country, Season, AVG(Rainfall) from record where Rainfall between 200 and 400 group by City;

 * sqlite://
Done.

[('London', 'United Kingdom', 'Winter', 213.1),
 ('Mumbai', 'India', 'Fall', 346.0)]

#### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [51]:
%%sql
select City, Country, AVG(Temperature) from record where Season='Fall' and Temperature>20 group by City order by Temperature;

 * sqlite://
Done.

[('Cairo', 'Egypt', 22.2), ('Mumbai', 'India', 27.6)]

#### g) The total annual rainfall for Cairo.

In [52]:
%%sql
select City, SUM(Rainfall) from record where City='Cairo';

 * sqlite://
Done.

[('Cairo', 27.6)]

#### h) The total rainfall for each season.

In [53]:
%%sql
select Season, SUM(Rainfall) from record group by Season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

## Question 10
#### Suppose list words is defined as follows:
##### >>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
#### Write list comprehension expressions that use list words and generate the following lists:

In [54]:
#list word
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

#### a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']

In [55]:
#convert all words in list to uppercast
lst1 = [x.upper() for x in words]
print(lst1)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

#### b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [56]:
#convert all words in list to lowercast
lst2 = [x.lower() for x in words]
print(lst2)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### c) [3, 5, 5, 3, 5, 4, 3, 4, 3]

In [57]:
#the list of lengths of words in list 'words'
lst3 = []
for x in words:
    lst3.append(len(x))
print(lst3)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

#### d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [58]:
#the list containing a list for every word of list 'words' 
#where each word in list contain, the word in uppercase, lowercase and thelength of the word
lst5 = []
for y in range(0,len(words)):
    lst4 = []
    lst4.append(words[y].upper())
    lst4.append(words[y].lower())
    lst4.append(len(words[y]))
    lst5.append(lst4)
print(lst5)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

#### e) [ 'quick', 'brown', 'jumps', 'over', 'lazy']

In [59]:
#the list of words in list words containing 4 or more characters
lst6 = []
for x in words:
    if len(x) >= 4:
        lst6.append(x)
print(lst6)

['quick', 'brown', 'jumps', 'over', 'lazy']